//colors

$primary: #012746;
$dark-blue:#041320;
$light-blue:#1c71bd;

//btn google
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

@import url('//fonts.googleapis.com/css?family=Roboto');


//btn facebook
$fb-blue: #4267b2;
$btnfb-active-blue: #6f86ec;


//loaderpage

$main-color: #ABA1FF;
$main-color-dark: #675FB2;
$ray-color: #FFD6BB;
$spark-color: #70B268;
$back-color: #2f2e4e;